/* ===================================================================
  *  14. stats - (_layout.scss)
  *
  * ------------------------------------------------------------------- */
  #stats {
    background-color: #111111;
    position: relative;
    padding: 6rem 0 6rem;
}

#stats .stat {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.04);
}

#stats .stat:last-child {
    border: none;
}

#stats .stat .icon-part {
    color: #333;
}

#stats .stat .icon-part i {
    font-size: 6rem;
}

#stats .stat h5 {
    color: #FFFFFF;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}

#stats .stat h3 {
    color: #7c3b08;
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 1.5rem 0 0 0;
    padding-top: 1.5rem;
    line-height: 1;
    font-family: "montserrat-bold", sans-serif;
    position: relative;
    text-align: center;
}

#stats .stat h3::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: rgba(5, 100, 139, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * stats
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
    #stats .stat:nth-child(n) {
        border: none;
        padding-bottom: 2.4rem;
    }

}