 /* ===================================================================
  *  15. contact - (_layout.scss)
  *
  * ------------------------------------------------------------------- */
  #contact {
    background-color: #111111;
    background-image: url(../../images/profile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 10.2rem;
    padding-bottom: 6rem;
    position: relative;
}

#contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #000000;
}

#contact .section-intro h1 {
    color: white;
}

#contact .section-intro h3 {
    color: #7c3b08;
}

#contact .section-intro p.lead {
    color: rgba(255, 255, 255, 0.3);
}

/* contact form */
.contact-form {
    max-width: 740px;
    margin-top: 4.2rem;
    position: relative;
}

.contact-form::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-form:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);  /* Firefox 18- */
}

.contact-form::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);  /* Firefox 19+ */
}

.contact-form:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contact-form .placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

#contact form {
    margin-top: 0;
    margin-bottom: 3rem;
}

#contact form .form-field {
    position: relative;
}

#contact form .form-field:before,
#contact form .form-field:after {
    content: "";
    display: table;
}

#contact form .form-field:after {
    clear: both;
}

#contact form .form-field label {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.1rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: -1.2rem;
    right: .6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0 2rem;
    margin: 0;
    color: #FFFFFF;
    background: #4C2405;
}

#contact form .form-field label::after {
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4C2405;
    content: "";
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"] {
    height: 6.6rem;
    padding: 1.8rem 2rem;
}

#contact input[type="text"]:focus,
#contact input[type="password"]:focus,
#contact input[type="email"]:focus {
    border-color: #4C2405;
    color: #FFFFFF;
}

#contact textarea {
    min-height: 20rem;
    padding: 1.8rem 2rem;
}

#contact textarea:focus {
    border-color: #4C2405;
    color: #FFFFFF;
}

#contact button.submitform {
    font-size: 1.5rem;
    display: block;
    letter-spacing: .2rem;
    height: 6.6rem;
    line-height: 6.6rem;
    padding: 0 3rem;
    margin-top: 4.8rem;
    width: 100%;
    background: #7c3b08;
    color: #FFFFFF;
}

#contact button.submitform:hover,
#contact button.submitform:focus {
    background: #4C2405;
}

#message-warning,
#message-success {
    display: none;
    background: black;
    padding: 3rem;
    margin-bottom: 3.6rem;
    width: 100%;
}

#message-warning {
    color: #D32B2E;
}

#message-success {
    color: #7c3b08;
}

#message-warning i,
#message-success i {
    margin-right: 10px;
}

/* form loader */
#submit-loader {
    display: none;
    position: relative;
    left: 0;
    top: 1.8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4.2rem;
}

#submit-loader .text-loader {
    display: none;
    font-family: "montserrat-bold", sans-serif;
    color: #FFFFFF;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.oldie #submit-loader .s-loader {
    display: none;
}

.oldie #submit-loader .text-loader {
    display: block;
}

.contact-info {
    margin: 4.8rem auto 0;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    position: relative;
}

.contact-info p {
    color: #555;
}

.contact-info .collapse {
    padding: 0;
}

.contact-info .icon {
    margin-bottom: 2.1rem;
}

.contact-info .icon i {
    font-size: 4.2rem;
    color: #FFFFFF;
}

.contact-info h5 {
    color: #FFFFFF;
}

/* --------------------------------------------------------------- 
 * loader animation - (_layout.scss)
 * --------------------------------------------------------------- */
.s-loader {
    margin: 1.2rem auto 3rem;
    width: 70px;
    text-align: center;
    -webkit-transform: translateX(0.45rem);
    -ms-transform: translateX(0.45rem);
    transform: translateX(0.45rem);
}

.s-loader > div {
    width: .6rem;
    height: .6rem;
    background-color: #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    margin-right: .9rem;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.s-loader .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.s-loader .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

}