 /* ===================================================================
  *  10. about - (_layout.scss)
  *
  * ------------------------------------------------------------------- */
  #about {
    position: relative;
    padding: 10.8rem 0 10.8rem;
    background-color: #FFFFFF;
    min-height: 700px;
}

#about h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.6rem;
    color: #4C2405;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin: 0 0 0 .3rem;
}

#about h1 {
    font-family: "librebaskerville-bold", serif;
    font-size: 3.3rem;
    line-height: 1.455;
}

.about-profile-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EBEBEB;
    width: 50%;
    background-image: url(../../images/profile-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    opacity: .35;
}

.about-wrap {
    width: 94%;
    max-width: 1300px;
    margin: 0 auto;
}

.about-wrap:before,
.about-wrap:after {
    content: "";
    display: table;
}

.about-wrap:after {
    clear: both;
}

.about-profile,
.about-services {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.about-profile {
    padding-right: 9rem;
    position: relative;
    z-index: 2;
}

.about-profile p.lead {
    color: #636363;
}

.about-profile .about-profile-bg {
    display: none;
}

.about-services {
    padding-left: 9rem;
    position: relative;
}

.about-services p.lead {
    color: #757575;
}

.about-services ul.services {
    list-style: none;
    margin-left: 0;
}

.about-services ul.services li {
    padding-left: 0;
    margin-bottom: .6rem;
    position: relative;
}

.about-services ul.services li h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    line-height: 1.313;
    margin-bottom: .6rem;
}

.about-services ul.services li p {
    margin-bottom: 1.5rem;
    color: #4f4f4f;
}

.about-services ul.services .icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(46, 22, 3, 0.4);
    color: #4C2405;
}

.about-services ul.services .icon-wrap i {
    font-size: 5rem;
}

.about-services ul.services .item-photography .icon-wrap {
    top: -.3rem;
}

.about-services ul.services .item-webdesign .icon-wrap {
    top: -.7rem;
}

.about-services ul.services .item-uiux .icon-wrap {
    top: -.1rem;
}

.about-services ul.services .service-item {
    padding-left: 8rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * about 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
    .about-profile {
        padding-right: 5rem;
    }

    .about-services {
        padding-left: 5rem;
    }

}

@media only screen and (max-width:900px) {
    .about-profile {
        padding-right: 4rem;
    }

    .about-services {
        padding-left: 4rem;
    }

}

@media only screen and (max-width:768px) {
    #about {
        padding-top: 0;
    }

    .about-wrap {
        padding: 0;
        width: 100%;
    }

    .about-profile-bg {
        display: none;
    }

    .about-profile,
    .about-services {
        float: none;
        width: 100%;
        padding-top: 10.8rem;
        padding-left: 45px;
        padding-right: 45px;
    }

    .about-profile .intro,
    .about-services .intro {
        text-align: center;
    }

    .about-profile {
        padding-bottom: 9rem;
    }

    .about-profile .about-profile-bg {
        display: block;
        width: 100%;
    }

}

@media only screen and (max-width:600px) {
    .about-profile,
    .about-services {
        padding-left: 35px;
        padding-right: 35px;
    }

}

@media only screen and (max-width:400px) {
    .about-profile,
    .about-services {
        padding-left: 25px;
        padding-right: 25px;
    }

    .about-services {
        text-align: center;
    }

    .about-services ul.services .icon-wrap {
        position: static;
        margin-bottom: .6rem;
    }

    .about-services ul.services .icon-wrap i {
        font-size: 6rem;
    }

    .about-services ul.services .service-item {
        padding-left: 0;
        margin-bottom: 3rem;
    }

    .about-services ul.services .service-item h4 {
        margin-bottom: 1.5rem;
    }

}