
 /* ===================================================================
  *  12. credentials - (_layout.scss)
  *
  * ------------------------------------------------------------------- */
  #credentials {
    background: #FFFFFF;
    position: relative;
    padding: 12rem 0 9rem;
}

#credentials .credentials-content h2 {
    margin-bottom: 4.8rem;
    color: #4C2405;
    padding-left: 8rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    position: relative;
}

#credentials .credentials-content h2::before {
    display: block;
    content: "";
    height: 3px;
    width: 4rem;
    background-color: #aeaeae;
    position: absolute;
    top: 50%;
    left: 2rem;
    margin-top: -3px;
}

#credentials .left {
    padding-right: 40px;
}

#credentials .right {
    padding-left: 40px;
}

#credentials .timeline-wrap {
    position: relative;
    text-align: left;
}

#credentials .timeline-wrap::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 2rem;
    top: 0;
}

#credentials .timeline-block {
    position: relative;
    padding-left: 8rem;
    margin-bottom: 4.2rem;
}

#credentials .timeline-ico {
    height: 4.8rem;
    width: 4.8rem;
    line-height: 4.8rem;
    background: #4C2405;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 2rem;
    top: 0;
    margin-left: -2.4rem;
}

#credentials .timeline-header .timeframe {
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.6rem;
    color: #757575;
    margin-bottom: 0;
}

#credentials .timeline-header h3 {
    font-size: 2.4rem;
    line-height: 1.25;
    margin-bottom: 0;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * credentials
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
    #credentials .left {
        padding-right: 20px;
    }

    #credentials .right {
        padding-left: 20px;
    }

}

@media only screen and (max-width:768px) {
    #credentials .credentials-content h2 {
        padding: 0;
        text-align: center;
    }

    #credentials .credentials-content h2::before {
        display: none;
    }

    #credentials .left {
        padding-right: 10px;
    }

    #credentials .right {
        padding-left: 10px;
    }

}

@media only screen and (max-width:600px) {
    #credentials .timeline-block {
        padding-left: 7rem;
    }

}

@media only screen and (max-width:400px) {
    #credentials .timeline-header .timeframe {
        font-size: 1.5rem;
    }

    #credentials .timeline-header h3 {
        font-size: 2.2rem;
    }

    #credentials .timeline-block {
        padding-left: 6rem;
    }

}