 /* ===================================================================
  *  08. header styles - (_layout.scss)
  *
  * ------------------------------------------------------------------- */
  header {
    width: 100%;
    height: 10%;
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.6rem 3rem;
    z-index: 700;
    background: #111111;
    color: rgba(255, 255, 255, 0.25);
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

header .row {
    height: auto;
    max-width: 1300px;
    position: relative;
}


.underline{
    margin: 0;
    background-color: initial;
    visibility: hidden;
}

.item:hover .underline {
	background-color: white;
	width: 100%;
    visibility: visible;
}

.active {
    background-color: violet;
}

.unactive {
    background-color: black;
}
/* ------------------------------------------------------------------- 
 * header logo - (_layout.css) 
 * ------------------------------------------------------------------- */
header .header-logo {
    position: absolute;
    left: 26px;
    top: 30px;
    display: contents;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

header .header-logo a {
    display: block;
    visibility: hidden;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 60px;
    height: 60px;
    background: url("../../images/logo.png") no-repeat center;
    background-size: 60px 60px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

header #menu-nav-wrap .header-logo a {
   height: 45px;
   background-size: 40px 40px;
   visibility: visible;
}


/* ------------------------------------------------------------------- 
 * menu trigger - (_layout.css) 
 * ------------------------------------------------------------------- */
#header-menu-trigger {
    display: block;
    position: fixed;
    right: 26px;
    top: 30px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#header-menu-trigger.opaque {
    background-color: #000000;
}

#header-menu-trigger.opaque .header-menu-text {
    background-color: #000000;
}

#header-menu-trigger:hover,
#header-menu-trigger:focus {
    color: #FFFFFF;
}

#header-menu-trigger .header-menu-text {
    display: block;
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    text-align: center;
    background-color: transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#header-menu-trigger .header-menu-icon {
    display: block;
    height: 2px;
    width: 24px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -2px;
}

#header-menu-trigger .header-menu-icon::before,
#header-menu-trigger .header-menu-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
}

#header-menu-trigger .header-menu-icon::before {
    top: -9px;
}

#header-menu-trigger .header-menu-icon::after {
    bottom: -9px;
}




/* ------------------------------------------------------------------- 
 * off-canvas menu - (_layout.scss) 
 * ------------------------------------------------------------------- */
#menu-nav-wrap {
    background: #111111;
    color: rgba(255, 255, 255, 0.90);
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 3.6rem 3rem;
    position: fixed;
    right: 0;
    top: 0;
}

.menu-normal #menu-nav-wrap {
   height: 10%;
   width: 100%;
   display: flex;
   visibility: visible;
   padding-top: 1em;
   -webkit-transform: translateZ(0);
   -webkit-backface-visibility: visible;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.menu-normal #menu-nav-wrap .nav-list {
   margin: 0;
   padding: 0;
   position: absolute;
   right: 30px;
   display: flex;
}

.menu-normal #menu-nav-wrap .nav-list .item{
   margin: 0 10px;
}

.menu-normal #menu-nav-wrap .close-button {
   visibility: hidden;
}

.menu-button #menu-nav-wrap {
   height: 100%;
   width: 240px;
   visibility: hidden;
   -webkit-transform: translateZ(0);
   -webkit-backface-visibility: hidden;
   -webkit-transform: translateX(100%);
   -ms-transform: translateX(100%);
   transform: translateX(100%);
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#menu-nav-wrap a,
#menu-nav-wrap a:visited {
    color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap a:hover,
#menu-nav-wrap a:focus,
#menu-nav-wrap a:active {
    color: white;
}

#menu-nav-wrap h3 {
    color: white;
    font-family: "montserrat-regular", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin: 1rem;
}

#menu-nav-wrap .nav-list {
    margin: 3.6rem 0 1.5rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    line-height: 3.6rem;
}

#menu-nav-wrap .nav-list li {
    padding-left: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.03);
    line-height: 4.2rem;
}

#menu-nav-wrap .nav-list li:first-child {
    border-top: 1px dotted rgba(255, 255, 255, 0.03);
}

#menu-nav-wrap .nav-list li a {
    color: rgba(255, 255, 255, 0.25);
    display: block;
}

#menu-nav-wrap .nav-list li a:hover,
#menu-nav-wrap .nav-list li a:focus {
    color: white;
}

#menu-nav-wrap .header-social-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 2.1rem;
}

#menu-nav-wrap .header-social-list li {
    margin-right: 12px;
    padding-left: 0;
    display: inline-block;
}

#menu-nav-wrap .header-social-list li a {
    color: rgba(255, 255, 255, 0.15);
}

#menu-nav-wrap .header-social-list li a:hover,
#menu-nav-wrap .header-social-list li a:focus {
    color: white;
}

#menu-nav-wrap .header-social-list li:last-child {
    margin: 0;
}

#menu-nav-wrap .close-button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#menu-nav-wrap .close-button span::before,
#menu-nav-wrap .close-button span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
}

#menu-nav-wrap .close-button span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu-nav-wrap .close-button span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* menu is open */
.menu-is-open #menu-nav-wrap {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header section 
 * ------------------------------------------------------------------- */
 /* @media only screen and (max-width:769px) {
   .menu-normal #menu-nav-wrap .nav-list {
      display: flex;
  }
} */
@media only screen and (max-width:768px) {
    header .header-logo {
        top: 1em;
    }

    header .header-logo a {
        width: 54px;
        height: 54px;
        background-size: 54px 54px;
        visibility: visible;
    }

    header #menu-nav-wrap .header-logo {
       display: none;
       visibility: hidden;
    }

    .menu-normal #menu-nav-wrap .nav-list {
       display: contents;
   }

    .menu-normal #menu-nav-wrap{
       visibility: hidden;
       -webkit-transform: translateZ(0);
       -webkit-backface-visibility: hidden;
       -webkit-transform: translateX(100%);
       -ms-transform: translateX(100%);
       transform: translateX(100%);
       -moz-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
       -webkit-transition: all 0.4s ease-in-out;
       -ms-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
}

@media only screen and (max-width:400px) {
    #header-menu-trigger .header-menu-text {
        display: none;
    }

}
